* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
body{
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: aliceblue;
}
nav.active{
    animation-name: fixedMenu;
    animation-duration: .8s;
    position: fixed;
    z-index: 9999;
    width: 100%;
}
@keyframes fixedMenu {
    from{
        top:-100px
    }
    to{
        top: 0;
    }
}
nav .menu ul li{
    position: relative;
}
nav .menu ul.row li a,
nav .menu ul.row li i {
    color: #1377b9;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px;
    transition: 0.4s;
}
nav .menu ul.row li i {
    cursor: pointer;
}
nav ul.row li a:hover,
nav ul.row li a:hover {
    color: #c1e2f8;
    background-color: #1377b9;
}
nav .logo,
nav .logo img {
    height: 60px;
    margin-left: 10px;
}
nav #search {
    border: 1px solid #1377b9;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    text-indent: 10px;
    color: #06263B;
    padding: 10px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 23%;
    right: 70px;
    transform: scaleX(0);
    transition: .5s;
    transform-origin: right;
}
nav #search.active{
    transform: scaleX(1);
}
nav .menu #slideBar {
    position: absolute;
    top: 100%;
    right: 0;
    transform:scaleY(0) skew(45deg);
    transform-origin: top;
    transition: .5s;
    z-index: 999;
}
nav .menu #slideBar.active{
    transform: scaleY(1) skew(0deg);
}
nav .menu #slideBar ul li, 
nav .menu #slideBar ul li a{
    padding: 10px;
    background-color: #4F96C6;
    margin-bottom: 1px;
    color: #c1e2f8;
}

/* banner starts here */
#banner .bannerSlider,
#banner .bannerSlider div img {
    width: 100%;
    font-size: 0;
} 
/* banner ends here */

/* about section starts here */
#about {
    margin: 100px auto;
}
.about h1 {
    text-align: center;
    color: #1377b9;
    font-size: 30px;
    margin: 30px 0;
    text-transform: uppercase;
}
.about p {
    line-height: 30px;
    font-size: 16px;
    color: #06263B;
    padding: 0 50px;
    word-spacing: 5px;
}
#backToTop{
    padding: 10px 13px;
    background-color: #4F96C6;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;
    cursor: pointer;
}
/* about section ends here */