* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
nav {
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
nav .menu ul li{
    position: relative;
}
nav .menu ul.row li a,
nav .menu ul.row li i {
    color: #1377b9;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px;
    transition: 0.4s;
}
nav .menu ul.row li i {
    cursor: pointer;
}
nav ul.row li a:hover,
nav ul.row li a:hover {
    color: #c1e2f8;
    background-color: #1377b9;
}
nav .logo,
nav .logo img {
    height: 60px;
    margin-left: 10px;
}
nav #search {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #c1e2f8;
    color: #06263B;
    padding: 10px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 23%;
    right: 70px;
    transform: scaleX(0);
    transition: .5s;
    transform-origin: right;
}
nav #search.active{
    transform: scaleX(1);
}
nav .menu #slideBar {
    position: absolute;
    top: 100%;
    right: 0;
    transform:scaleY(0) skew(45deg);
    transform-origin: top;
    transition: .5s;
}
nav .menu #slideBar.active{
    transform: scaleY(1) skew(0deg);
}
nav .menu #slideBar ul li, 
nav .menu #slideBar ul li a{
    padding: 10px;
    background-color: #4F96C6;
    margin-bottom: 1px;
    color: #c1e2f8;
}
